<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @acti.descripcion %>
</p>

<%= link_to 'Volver a la lista de actividades', modalidad_proceso_etapa_actividads_path(@modalidad,@proceso,@etapa) %>
