<p id="notice"><%= notice %></p>

<h1>Seleccione según la modalidad o régimen de contratación:</h1>
</br>
<% @modalidads.each do |modalidad| %>
  <h2><%= link_to  modalidad.nombre, modalidad %></h2>
<% end %>
